PORT=4000
LISTEN_IP=127.0.0.1
BASE_URL=http://localhost:4000
SECRET_KEY_BASE=secret_key
LOG_LEVEL=debug
MAILER_ADAPTER=Swoosh.Adapters.Local

# if using S3 as storage provider:
# AWS_S3_HOST=xxxx
# AWS_DEBUG_REQUESTS=true
# AWS_ACCESS_KEY_ID=data-aggregator-dev
# AWS_SECRET_ACCESS_KEY=secret_key
# WAFFLE_STORAGE=s3
# WAFFLE_S3_BUCKET=data-aggregator-dev
# WAFFLE_ASSET_HOST=https://${AWS_S3_HOST}/${WAFFLE_S3_BUCKET}

# if using local disk storage as storage provider:
WAFFLE_STORAGE=local
WAFFLE_ASSET_HOST=http://localhost:4000

OPEN_CAGE_DATA_API_KEY=xxxx

# Use production grscicoll API to get collection and institution data
GRSCICOLL_API_BASE_URL=https://api.gbif.org/v1/grscicoll

GBIF_SPECIES_API_BASE_URL=https://api.gbif.org/v1
GBIF_API_BASE_URL=https://api.gbif-uat.org/v1
GBIF_BASE_URL=https://www.gbif-uat.org
SWISS_NAT_COLL_BASE_URL=https://swissnatcoll.hp.gbif-staging.org
GBIF_INSTALLATION_KEY=xxxx
GBIF_ORGANIZATION_KEY=xxxx
GBIF_USER=xxxx
GBIF_PASSWORD=xxxx

IUCN_API_TOKEN=your_iucn_api_access_token

# Cron job schedule interval (in minutes, if not set, it defaults to 24h) for checking if records are published at GBIF
# PUBLICATION_VERIFY_JOB_SCHEDULE_MINUTES=30

# is used to determin on which system the application is running. possible values are dev, staging, prod
ENV_NAME=dev

# the infospecies mail adresses. per center a space separated list of emails
CENTER_EMAIL_INFOFAUNA="your@mail.com"
CENTER_EMAIL_VOGELWARTE="your@mail.com your2@mail.com"
CENTER_EMAIL_INFOFLORA="your@mail.com"
CENTER_EMAIL_SWISSBRYOPHYTES="your@mail.com your2@mail.com"
CENTER_EMAIL_SWISSLICHENS="your@mail.com"
CENTER_EMAIL_SWISSFUNGI="your@mail.com your2@mail.com"
