### Use S3 for storage
# AWS_S3_SCHEME=http://
# AWS_S3_HOST=localhost
# AWS_S3_PORT=9000
# AWS_DEBUG_REQUESTS=true
# AWS_ACCESS_KEY_ID=data-aggregator-dev
# AWS_SECRET_ACCESS_KEY=secret
# WAFFLE_STORAGE=s3
# WAFFLE_S3_BUCKET=data-aggregator-dev
# WAFFLE_ASSET_HOST=https://${AWS_S3_HOST}/${WAFFLE_S3_BUCKET}
