# PORT=4000
# LISTEN_IP=127.0.0.1
# BASE_URL=http://localhost:4000
# DATABASE_URL=ecto://postgres:postgres@localhost:5432/data_aggregator_dev
# SECRET_KEY_BASE=secret_key
# LOG_LEVEL=debug
# MAILER_ADAPTER=Swoosh.Adapters.Local

# if using S3 as storage provider:
# AWS_S3_HOST=s3.cloud.zebbra.ch
# AWS_DEBUG_REQUESTS=true
# AWS_ACCESS_KEY_ID=data-aggregator-dev
# AWS_SECRET_ACCESS_KEY=secret_key
# WAFFLE_STORAGE=s3
# WAFFLE_S3_BUCKET=data-aggregator-dev
# WAFFLE_ASSET_HOST=https://${AWS_S3_HOST}/${WAFFLE_S3_BUCKET}

# if using local disk storage as storage provider:
# WAFFLE_STORAGE=local
# WAFFLE_ASSET_HOST=http://localhost:4000

# OPEN_CAGE_DATA_API_KEY=your_api_key

# GBIF_API_BASE_URL=https://api.gbif-uat.org/v1
# GBIF_INSTALLATION_KEY=inst-key
# GBIF_ORGANIZATION_KEY=org-key
# GBIF_USER=yout-username
# GBIF_PASSWORD=your-pasword

# Cron job schedule interval (in minutes, if not set, it defaults to 24h) for checking if records are published at GBIF
# PUBLICATION_VERIFY_JOB_SCHEDULE_MINUTES=30
