<!DOCTYPE html>
<html lang="en" class="bg-base-100 h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Data Aggregator to integrate biodiversity data to a darwin core compatible data format."
    />
    <title>Not Found · DataAggregator</title>
    <link rel="stylesheet" href={~p"/assets/app.css"} />
  </head>
  <body class="h-full antialiased">
    <main class="mx-auto h-full max-w-6xl p-6 lg:p-10">
      <div class="flex h-full flex-col items-center justify-center text-center">
        <div>
          <h1 class="border-black-white/10 text-2xl/10 mr-5 inline-block border-r pr-6 align-top font-semibold">
            404
          </h1>
          <div class="inline-block">
            <h2 class="text-sm/10 m-0">
              This page could not be found.
            </h2>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
