<!DOCTYPE html>
<html lang="en" class="bg-base-100 h-full [scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Data Aggregator to integrate biodiversity data to a darwin core compatible data format."
    />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · DataAggregator">
      Internal Server Error
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="h-full antialiased">
    <main class="mx-auto h-full max-w-6xl p-6 lg:p-10">
      <div class="flex h-full flex-col items-center justify-center text-center">
        <div>
          <h1 class="border-black-white/10 text-2xl/10 mr-5 inline-block border-r pr-6 align-top font-semibold">
            500
          </h1>
          <div class="inline-block">
            <h2 class="text-sm/10 m-0">
              Something went wrong.
            </h2>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
