<!DOCTYPE html>
<html
  lang={to_string(DataAggregatorWeb.Cldr.get_locale())}
  class="[scrollbar-gutter:stable] h-full data-aggregator"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Data Aggregator to integrate biodiversity data to a darwin core compatible data format."
    />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · DataAggregator">
      <%= assigns[:page_title] || "Dashboard" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script phx-track-static type="text/javascript" src={~p"/assets/color-mode.js"}>
    </script>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="dark:bg-gray-900 h-full antialiased">
    <%= @inner_content %>
  </body>
</html>
