<div id="main_wrapper" class="h-dvh overflow-y-auto" phx-hook="MainScrollListener">
  <%!-- Static topbar --%>
  <.appbar />

  <%!-- Main area --%>
  <main>
    <%= render_slot(@inner_block) %>
  </main>
</div>
